<main id="app" style="background-color: white; margin: 20px auto; box-shadow: 0 0 8px #dedede; max-width: 400px;"><div>{{{app}}}</div></main>

<script>
    window.INITIAL_STATE = {{{initialState}}}
</script>
