<!DOCTYPE html>
<html style="background-color: #f2f2f2; font-family: 'Roboto', sans-serif">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>React isomorphic</title>
  {{#unless isDevelopment}}
    <link rel="stylesheet" href="{{assetPath}}bundle.css">
  {{/unless}}
</head>
<body>
  {{{body}}}
  <script src="{{assetPath}}bundle.js" async></script>
</body>
</html>
